/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* estilos de header*/
header {
  background-color: #9ea6f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header nav .container-fluid .collapse ul {
    list-style-type: none; }
    header nav .container-fluid .collapse ul li:hover {
      transform: scale3d(1.1, 1.1, 1.1); }

/* estilos de index*/
.main-index {
  background-color: #6f80af;
  background-image: url(../img/915234.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .main-index .primer-set {
    padding-left: 20vh;
    padding-top: 40px;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center; }
    .main-index .primer-set .titulo1, .main-index .primer-set .titulo2 {
      text-transform: uppercase; }
    .main-index .primer-set .titulo2 {
      color: gold;
      font-style: oblique;
      font-size: 50px; }
  .main-index .segundo-set {
    padding: 5vh 30vh 5vh 15vh;
    background-color: #242121;
    display: flex;
    flex-direction: column; }
    .main-index .segundo-set h2 {
      color: gold; }
    .main-index .segundo-set span {
      color: whitesmoke;
      padding-bottom: 2vh; }
    .main-index .segundo-set .boton {
      padding: 5px 0 5px 0;
      margin: 0 0 0 10vw;
      width: 70px;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      background-color: #ccb220;
      color: white;
      border: 5px;
      font-size: large;
      text-decoration: none; }
      .main-index .segundo-set .boton:hover {
        transform: scale3d(1.1, 1.1, 1.1); }
  @media (max-width: 720px) {
    .main-index {
      height: 100vh; }
      .main-index .primer-set {
        padding: 5vh 0 5vh 0; }
      .main-index .segundo-set {
        padding: 0 0 0 0; } }

/* estilos de footer */
footer {
  background-color: #5f5fbb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  justify-content: center;
  padding-top: 10px; }

/* estilos apartado noticias */
main .noticias {
  background-image: url(../img/915234.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center; }
  main .noticias .noticia1 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px; }
    main .noticias .noticia1 .articulo1 {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      border: 1px solid gray;
      padding: 1vh 1vh 1vh 1vh; }
  main .noticias .noticia2 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px; }
    main .noticias .noticia2 .articulo2 {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      border: 1px solid gray;
      padding: 1vh 1vh 1vh 1vh; }
  main .noticias .noticia3 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px; }
    main .noticias .noticia3 .articulo3 {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      border: 1px solid gray;
      padding: 1vh 1vh 1vh 1vh; }
  @media (min-width: 425px) and (max-width: 768px) {
    main .noticias .noticia1 {
      display: flex;
      flex-direction: column; }
    main .noticias .noticia2 {
      display: flex;
      flex-direction: column; }
    main .noticias .noticia3 {
      display: flex;
      flex-direction: column; } }
  @media (max-width: 425px) {
    main .noticias .noticia1 {
      padding: 1vh 1vh 1vh 1vh; }
      main .noticias .noticia1 .imagen1 {
        display: none; }
    main .noticias .noticia2 {
      padding: 1vh 1vh 1vh 1vh; }
      main .noticias .noticia2 .imagen2 {
        display: none; }
    main .noticias .noticia3 {
      padding: 1vh 1vh 1vh 1vh; }
      main .noticias .noticia3 .imagen3 {
        display: none; } }

/* estilos de contacto */
.contenedor2 {
  height: auto;
  background-image: url(../img/bitcoin-desintegracion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenedor2 .contacto {
    height: 100vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding: 2vh 2vh 2vh 2vh;
    background-color: white;
    width: auto;
    height: auto; }
    .contenedor2 .contacto form {
      opacity: 0.6; }
      .contenedor2 .contacto form fieldset {
        display: flex;
        flex-direction: column; }
        .contenedor2 .contacto form fieldset h1 {
          text-align: center;
          text-transform: uppercase;
          color: #e9cd2c;
          font-size: 30px; }
        .contenedor2 .contacto form fieldset .formulario {
          display: flex;
          flex-direction: row; }
          .contenedor2 .contacto form fieldset .formulario .formulario-2 div {
            margin: 1vh 1vh 1vh 1vh; }
          .contenedor2 .contacto form fieldset .formulario .formulario-redes {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            margin-left: 1vh;
            color: #cab22c;
            font-size: large; }
    @media (min-width: 768px) and (max-width: 1440px) {
      .contenedor2 .contacto {
        padding: 1vh 1vh 1vh 1vh; } }
    @media (max-width: 768px) {
      .contenedor2 .contacto form fieldset .formulario .formulario-redes {
        display: none; } }

/* estilos apartado objetivos*/
.contenedor {
  background-image: url(../img/bitcoin-desintegracion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; }
  .contenedor .presentacion {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 10px;
    width: 50vw;
    padding: 1vh 1vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20vw; }
    .contenedor .presentacion h1, .contenedor .presentacion p {
      color: black; }
    .contenedor .presentacion h1 {
      text-transform: uppercase;
      font-size: 30px; }
  .contenedor .copytrading {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 10px;
    width: 50vw;
    padding: 1vh 1vh 1vh 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20vw;
    margin-bottom: 5vh; }
    .contenedor .copytrading .tiposdecopy {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .contenedor .copytrading .tiposdecopy h2 {
        text-shadow: 2px 2px 2px #4d4747;
        padding-top: 10px; }
      .contenedor .copytrading .tiposdecopy h3 {
        padding-top: 30px;
        font-style: italic; }

/* estilo apartado quienes somos*/
.quienessomos {
  background-image: url(../img/bitcoin-desintegracion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto; }
  .quienessomos .quienessomos1 {
    margin-top: 20px;
    margin-right: 45vw;
    padding: 2vh 2vh 2vh 2vh;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 3vh; }
    .quienessomos .quienessomos1 h1 {
      text-transform: uppercase;
      opacity: none;
      color: black; }
    .quienessomos .quienessomos1 p {
      opacity: none;
      color: black; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .quienessomos {
      height: auto; } }
  @media (max-width: 768px) {
    .quienessomos .quienessomos1 {
      margin-right: 4vw;
      padding: 1vh 1vh 1vh 1vh; } }
