/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* estilos de header*/
header h1 {
  color: whitesmoke;
  background-color: #9ea6f3;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic; }

header nav .container-fluid .collapse ul {
  list-style-type: none; }
  header nav .container-fluid .collapse ul li:hover {
    transform: scale3d(1.2, 1.2, 1.2); }

/* estilos de index*/
main .index {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "plataforma ganancias" "plataforma ganancias-img";
  align-items: center;
  justify-items: center;
  background-color: #6f80af;
  background-image: url(../img/915234.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px; }
  main .index .plataforma {
    grid-area: plataforma; }
  main .index .ganancias {
    grid-area: ganancias; }
  main .index .ganancias-img {
    grid-area: ganancias-img; }

/* estilos de footer */
footer {
  background-color: #5f5fbb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  justify-content: center;
  padding-top: 10px; }

/* estilos apartado noticias */
main .noticias {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center; }
  main .noticias .noticia1 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #9ea6f3; }
  main .noticias .noticia2 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #9ea6f3; }
  main .noticias .noticia3 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #9ea6f3; }

/* estilos de contacto */
.contenedor2 {
  height: 100vh;
  background-color: #a4a0c9; }

/* estilos apartado objetivos*/
.presentacion {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #a4a0c9;
  padding: 10px; }

.contenedor {
  height: 100vh;
  background-color: #a4a0c9; }
  .contenedor .copytrading h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px #4d4747;
    padding-top: 10px; }
  .contenedor .copytrading h3 {
    margin-left: 10px;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic; }

/* estilo apartado quienes somos*/
.quienessomos .quienessomos1 {
  text-align: center;
  background-color: #a4a0c9;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 40px;
  height: 100vh; }
